*.code-workspace
*.env
*.local
.docker
.DS_Store
.idea
.npm_token
.npmrc
.npmrc.txt
.pnpm-store
.task
.vscode
/collection-api
/dams-antivirus-service
/dams-cantaloupe
/dams-csv-import-service
/dams-elastic-indexer-service
/dams-transcode-service
/filesystem-importer-service
/frontend
/generated-types
/inuits-apollo-server-auth
/inuits-dams-data-seed-service
/coghent-dams-ldes-consumer
/inuits-dams-docs
/inuits-dams-frontend/inuits-dams-pwa
/inuits-dams-frontend/packages
/inuits-dams-iiif-manifest-mapper
/inuits-dams-ocr-service
/inuits-dams-pwa
/inuits-dams-utilities
/ldes-import-service
/modules
/mundomosa-daemon-framework
/ocr-service
/packages
/search-api
/session-vue-3-oidc-library
/storage-api
/cypress
clients
dams_initial_data.zip
docker-compose/collection-api/.env.local
docker-contexts
minio-data
mongo-data
node_modules
pnpm-lock.yaml
postgres
tmp
cypress.env.json
